<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="author" content="Adam Durity">
        <title>{% block title %}{% endblock %} – The Data Pipeline</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container" id="mainContainer">
            <main>
            {% block main %}
                <div class="page-header">
                    <h1>The Data Pipeline <small>{{ self.title() }}</small></h1>
                    <p class="lead">Adam Durity and Aditya Marella</p>
                </div>
            {% endblock %}
            </main>
            <footer class="small text-center">
                <div class="row">
                    <p>
                        Created by <a href="http://adamdurity.com">Adam Durity</a> and Aditya Marella
                        for <a href="http://data.cmubi.org/">The Data Pipeline</a> class
                        at <a href="http://www.cmu.edu">Carnegie Mellon University</a>.
                    </p>
                    <p>
                        Built with <a href="http://getbootstrap.com/">Bootstrap</a>.
                    </p>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='bower_components/coffee-script/extras/coffee-script.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script> -->
        <!-- <script type="text/coffeescript" src="{{ url_for('static', filename='main.coffee') }}"></script> -->
    </body>
</html>
