<!DOCTYPE html>
<html>
<head>
<title>Yelp! Visualizaton</title>

<meta charset="UTF-8">
<!--<link rel="stylesheet" href="http://yui.yahooapis.com/3.14.1/build/cssreset/cssreset.css" type="text/css"/>
<link rel="stylesheet" href="http://yui.yahooapis.com/3.14.1/build/cssfonts/cssfonts.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.1/build/cssgrids/cssgrids-min.css"/>

<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />-->
<link href="stylesheets/d3.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="d3/d3.v3.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</head>
<h1 class="h1">Yelp! Visualization</h1>
<body id="doc">
</body>
</html>
