{% extends "base.html" %}
{% block title %}Yelp{% endblock %}
{% block main %}
{{ super() }}
<div class="row">
  <div class="col-md-12">
    <div id="treemap-chart"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="adjnoun-tc"></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/tc.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript/treemap.js') }}"></script>
<script type="text/javascript">
  var data = {{ data | safe }}
</script>
{% endblock %}
