<!DOCTYPE html>
<html>
<head>
<title>Privacy & Security</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/3.14.1/build/cssreset/cssreset.css" type="text/css"/>
<link rel="stylesheet" href="http://yui.yahooapis.com/3.14.1/build/cssfonts/cssfonts.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.1/build/cssgrids/cssgrids-min.css"/>

<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />

<style>

li {
    height: 50px;
    width: float;
    overflow: hidden;
}

</style>

</head>
<body align="center">

<div style="width: 40%; margin: 0 auto" align="left">
        <ul>
        {% for k,v in data.iteritems() %}
        <li style="border-bottom: 2px; border-color: #000"> 
            <div><b>{{ v['name'] }}</b></div> 
            <div style="color: #aaa;">Type: {{ v['type'] }}; BusinessID: {{ k }} </div> 
        </li>
        {% endfor %}
        </ul>
</div>

</body>
</html>
